@{
    ViewData["Title"] = "Service details";
}
<h1>@ViewData["Title"]</h1>

<p><b>My name is:</b> @Model.ServiceName</p>
<p><b>Im running at:</b> @Model.Host:@Model.Port</p>
<p><b>With headers:</b> @Model.IncommingHeaders</p>
