@{
    ViewData["Title"] = "Service details";
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
    <h3 class="display-4">@ViewBag.Siblings</h3>
    <p>
        @foreach (var siblingInfo in @Model)
        {
            <div>
                <hr/>
                @siblingInfo
            </div>
        }
    </p>
</div>
